.claude/
.idea/
.idea/**
_bmad/
_bmad-output/
node_modules/
sources/
dist/
tools/
*.bundle
*.log
.DS_Store
.env
.env.local
configurations/
mockup/
tools/flash2html/output/
*.png

# Davia
.davia/
.claude\skills\davia-documentation\SKILL.md