$helium-card-header-height: 33px;
$helium-card-tabs-height: 33px;

.helium-card {
    resize: both;
    pointer-events: all;

    &.theme-primary {
        border: $border-width solid $border-color;

        .helium-card-header {
            min-height: 33px;
            max-height: 33px;
            background: $primary;

            .helium-card-header-text {
                color: $white;
                text-shadow: 0px 4px 4px rgba($black, 0.25);
                @include font-size($h4-font-size);
            }

            .helium-card-header-close {
                cursor: pointer;
                padding: 2px 2px;
                line-height: 1;
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .helium-card-tabs {
            background-color: $secondary;

            .nav-item {
                padding: $nav-link-padding-y $nav-link-padding-x;
                background-color: $muted;
                color: $black;
                z-index: 1;
                margin-bottom: -1px;

                &.active {
                    background-color: $light;
                    border-color: $border-color $border-color $light !important;
                    border-bottom: 1px solid black;

                    &:before {
                        background: $white;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 93%;
                    height: 3px;
                    border-radius: 0.25rem;
                    top: 1.5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #c2c9d1;
                    z-index: 1;
                }
            }
        }

        .content-area {
            background-color: $light;
        }
    }
}

.content-area {
    height: 100%;
    padding-top: $container-padding-x;
    padding-bottom: $container-padding-x;
    overflow: auto;
}

.helium-card-header {
    position: relative;
    height: 100%;
}

.helium-card-tabs {
    height: 100%;
    min-height: $helium-card-tabs-height;
    max-height: $helium-card-tabs-height;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
}
